
div#drpznID{
    width: 220px;
    height: 300px;
    padding-top: 80px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-style: dashed;
    border-radius: 20px;
    overflow-y: auto;
}
div#drpznID:hover{
    cursor: pointer;
}
::-webkit-scrollbar {
    display: none;
    }