
@media (min-width: 992px) {
  
}

.container{
  min-width: 700px;
  padding-bottom: 100px;
}

.arrow{
  position: fixed;
  bottom: 4%;
  left: 4%;
  width: 40px;
  height: 40px;
}

.bookEntity{
  background-color: lightgray;
  height: 56px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  box-shadow: 3px 0px grey;
  margin-bottom: 4px;
  margin-left: 60px;
}

.bookEntity button {
  float: right;
}

.outerNFB{
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  font-size: 20px;
}
.notFoundLabel{
  position: relative;
  height: 100%;
}

